region = "eu-west-1"
cp-version = "8.1"
owner_name = "Sven Erik Knop"
owner_email = "sven@confluent.io"
cflt_environment = "devel"
cflt_partition = "onprem"
cflt_managed_by = "user"
cflt_managed_id	= "sven"
cflt_service = "CTG"
